{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {%
block content %}



<div class="container">
    <h2>New Quiz</h2>
    <form action="/dashboard/quiz_management/add_quiz" method="POST">
        <label for="chapter">Chapter ID:</label>
        <select id="chapter" name="chapter_id">
            <option value="">Select Chapter</option>
            {% for ch in chapter %}
            <option value="{{ ch.id }}">{{ch.id}} [{{ ch.name }}]</option>
            {% endfor %}
        </select>

        <label for="text">Type:</label>
        <input type="text" id="text" name="type">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" min="{{ current_date }}" required>
        

        <label for="duration">Duration (in minutes):</label>
        <input type="int" id="duration" name="duration">
        <label for="text">Remarks:</label>
        <input type="text" id="text" name="remarks">


        <div class="buttons">
            <button type="submit" class="save">Save</button>
            <a href="{{ request.referrer }}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>


{% endblock %}