<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Quiz Master</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if 'user_id' in session %}
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Home</a>
                </li>
                {% if user.role=="user" %}
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/scores/{{user.id}}">Scores</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/quiz_management">Quiz</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/summary">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% endif %}
            </ul>
            
            {% if 'user_id' in session %}
            <!-- Right-aligned elements -->
            <div class="d-flex align-items-center">
                <a class="nav-link me-3" href="/search">
                    <button class="btn btn-outline-primary">Search</button>
                </a>
                <span class="navbar-text">
                    Welcome, <a class="fw-bold text-decoration-none" href="/profile">{{ user.role | capitalize }}</a>
                </span>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
