{% extends "base.html" %} {% block title %}User Details{% endblock %} {% block content %}

<div class="container mt-4">
    <section>
        <h2 class="mb-4 text-center">Users</h2>
        {% if users and users|length > 0 %}
        <div class="list-group">
            {% for user in users %}
            <div class="list-group-item list-group-item-action p-3 mb-3 shadow-sm rounded">
                <h5 class="mb-1">
                    <strong>Name:</strong>
                    <a class="text-decoration-none text-primary" href="/dashboard/scores/{{user.id}}">{{ user.full_name }}</a>
                </h5>
                <p class="mb-1"><strong>Email:</strong> {{ user.username }}</p>
                <p class="mb-1"><strong>Qualification:</strong> {{ user.qualification }}</p>
                <p class="mb-3"><strong>DOB:</strong> {{ user.dob }}</p>
                <form action="/admin/delete_user/{{user.id}}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this question?')">Delete</button>
                </form>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-muted text-center">No Users.</p>
        {% endif %}
    </section>
</div>

{% endblock %}
