{% extends "base.html" %} {% block title %}Student Details{% endblock %} {%
    block content %}
    

    <div class="container mt-4">
        <h1>Welcome, {{ user.full_name }}</h1>

        <h3>Subject-wise Number of Attempts</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Number of Attempts</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in subject_wise_attempts %}
                <tr>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.attempt_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Month-wise Number of Quizzes Attempted</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Number of Attempts</th>
                </tr>
            </thead>
            <tbody>
                {% for month in month_wise_attempts %}
                <tr>
                    <td>{{ month.month }}</td>
                    <td>{{ month.attempt_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%endblock%}